@page "/agent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> L
@attribute [Authorize(Roles = "HelpDeskAgent")]

<h3>@L["AgentDashboard"]</h3>
<p>@L["WelcomeAgent"]</p>
