@page "/agent"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> L
@attribute [Authorize(Roles = "HelpDeskAgent")]

<PageTitle>AI HelpDesk - Administration</PageTitle>

<div class="aih-home-root">

    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="aih-home-main py-8">
        <MudStack Spacing="3">

            <h3>@L["AgentDashboard"]</h3>
            <p>@L["WelcomeAgent"]</p>

        </MudStack>
    </MudContainer>

</div>


