@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<!-- wrapper colonna centrata -->
<div class="d-flex flex-column align-items-center mt-5">

    <h1 class="mb-4">@ViewData["Title"]</h1>

    <!-- status message sotto -->
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
