@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Autenticazione a due fattori";
    ViewData["Subtitle"] = "Inserisci il codice dell'app di autenticazione.";
    Layout = "/Pages/Shared/_LayoutAuthCard.cshtml";
}

<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <input asp-for="RememberMe" type="hidden" />
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
        <label asp-for="Input.TwoFactorCode" class="form-label"></label>
        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
    </div>
    <div class="checkbox mb-3">
        <label asp-for="Input.RememberMachine" class="form-label">
            <input asp-for="Input.RememberMachine" />
            @Html.DisplayNameFor(m => m.Input.RememberMachine)
        </label>
    </div>
    <div>
        <button type="submit" class="aih-auth-btn">Login</button>
    </div>
</form>

<p class="mt-3">
    Non hai accesso all'app di autenticazione?
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">Usa un codice di recupero</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
